.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.calendar {
  background-color: transparent !important;
  color: white !important;
}

.table {
  table-layout: fixed;
  word-wrap: break-word;
  /* overflow: visible !important; */
}

/* .chq-atc--dropdown { */
  /* display: flex !important;
  flex-direction: column; */
  /* left: -35px; */
  /* overflow: visible !important;

  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  box-shadow: .5px .5px 3px rgba(0, 0, 0, .2);
  box-sizing: border-box;
  
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 100%;
  z-index: 10; */

/* } */
